a.nav-link {
  color: #000;
  font-size: 0.7rem;
  i {
    color: #bcbcbc;
    padding-right: 1.5rem;
  }

  border-left: 4px solid #fff;

  &.active {
    color: #009b7a;
    border-left: 4px solid #009b7a;
    i {
      color: #009b7a;
    }
  }
}

a.left-nav{
  width: 100%;
}

$primary-color: rgb(155, 41, 41);

// Card {
//     color: $primary-color;
//     border-width: 1in black dot;
//     padding-left: 30;
// }

.arrow-black {
  font: black;
}

.profile {
  max-width: 70px;
  height: 70px;
  position: relative;
  left: -3px;
  bottom: 65px;
}

.profile-name {
  bottom: 40px;
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
}

.sign-out {
  position: relative;
  top: -30px;
}

.align-graph {
  position: relative;
  top: 35px;
  left: 20px;
}

