.align-account{
    margin-left: 450px;
}

.align-account2{
    margin-left: 330px;
}

.account-size{
    max-width: 190px;
    height: 180px;
    position: relative;
    bottom: 10px;
}

.header-text{
    margin-left: -10px;
}

.account-size2{
    max-width: 300px;
    height: 180px;
    position: relative;
    bottom: 8px;
}
.header-text{
    margin-left: -10px;
}
.progress-bar{
    width: 700px;
}