.border1 {
  left: 50px;
  width: 344px;
  height: 72px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #ececec;
  border-radius: 13px;
  opacity: 1;
}

.border2 {
  // top: 322px;
  left: 70px;
  width: 344px;
  height: 72px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #ececec;
  border-radius: 13px;
  opacity: 1;
}

.border3 {
  left: 90px;
  width: 344px;
  height: 72px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #ececec;
  border-radius: 13px;
  opacity: 1;
}

.pnumber {
  top: 50px;
  left: 50px;
  width: 344px;
  height: 72px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #ececec;
  border-radius: 13px;
  opacity: 1;
}

.email {
  top: 50px;
  left: 70px;
  width: 344px;
  height: 72px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #ececec;
  border-radius: 13px;
  opacity: 1;
}

.password {
  top: 50px;
  left: 90px;
  width: 344px;
  height: 72px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #ececec;
  border-radius: 13px;
  opacity: 1;
}

.fname {
  top: 343px;
  left: 535px;
  width: 297px;
  height: 33px;
  text-align: left;
  letter-spacing: 0.17px;
  color: #000000;
  opacity: 0.5;
  text-align: match-parent;
}

.bname {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 13px;
  top: 343px;
  left: 535px;
  width: 297px;
  height: 33px;
  letter-spacing: 0.17px;
  color: #000000;
  text-align: inherit;
  opacity: 0.5;
}

.signup-background {
  background: #025744 0% 0% no-repeat padding-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.white-font {
  color: white;
}

.shield {
  max-width: 40px;
}

.arrow-font {
  color: white;
}
.login-link {
  color: blue;
}


.arrow-black {
  font: black;
}
